@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto, sans-serif;
    -webkit-text-size-adjust: none;
    hyphens: manual;
    -webkit-hyphens: manual;
    -webkit-font-smoothing: antialiased;

    --header-height: 60px;
    overflow-x: hidden;
    @apply text-white bg-primary;

    --shadow-block-down: inset 0 1px 1.5px 0.2px theme("colors.black");
    --shadow-block-up: inset 0 1px 1.5px 0.2px theme("colors.slate.600");
  }
  .input,
  [type="text"],
  [type="password"],
  [type="email"],
  textarea {
    @apply w-full bg-primary rounded-md px-4 py-1.5 shadow-sm shadow-slate-700 outline-none;
    box-shadow: var(--shadow-block-down), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);

    &.focus,
    &:focus {
      @apply shadow-blue-700;
    }
    &.first-active[valid],
    &.first-active.valid,
    &.first-active:valid {
      @apply shadow-green-700;
    }

    &.first-active[invalid],
    &.first-active.invalid,
    &.first-active:invalid {
      @apply shadow-orange-700;
    }
  }
}

@layer components {
  .block-down {
    @apply shadow-slate-700 shadow-sm;
    box-shadow: var(--shadow-block-down), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }

  .block-up {
    @apply shadow-black shadow-sm;
    box-shadow: var(--shadow-block-up), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }

  .header {
    height: var(--header-height);
  }
  .main__inner,
  main {
    min-height: calc(100vh - var(--header-height));
  }
  .c-container {
    @apply container mx-auto px-4 max-w-[1240px];
  }

  .top-page {
    top: calc(var(--header-height) + 15px);
  }

  .submenu .link.active {
    @apply bg-slate-700;
  }

  .submenu a:hover {
    text-decoration: unset;
  }

  .shadow-top {
    box-shadow: inset 0 4px 2px -3px theme("colors.slate.700"), var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .card-learn {
    .card-learn__main {
      min-height: var(--card-learn-height, unset);
    }
  }

  .button {
    @apply relative px-6 py-1 border-b-2 inset-0 border-current overflow-hidden transition-all select-none;
    box-shadow: 0 0 14px -4px currentColor;

    /*&:after {
      content: "";
      @apply inset-0 w-full h-full pointer-events-none block absolute  opacity-40 transition-all;
      box-shadow: inset 0 0 0 0 currentColor;
      background-image: linear-gradient(to top, currentColor, transparent); 
    }
    &:hover {
      &:after {
        box-shadow: inset 0 0 2px 1px currentColor;
      }
    }
    */

    &:active {
      @apply top-[-3px];
    }
  }

  a:hover {
    text-decoration: underline;
  }
}

.shake-animate {
  animation: shake-animate 200ms;
  animation-name: shake-animate;
}

@keyframes shake-animate {
  0%,
  100% {
    left: 0;
  }
  30% {
    left: -5px;
  }
  60% {
    left: 5px;
  }
}
